body{font-size:9pt;}
form{padding:0px;margin:0px;}
A:link { COLOR: #0000FF; TEXT-DECORATION: none;}
A:visited { COLOR: #0000FF; TEXT-DECORATION: none}
A:active  { COLOR: #3333ff; TEXT-DECORATION: none}
A:hover   { COLOR: #ff0000; TEXT-DECORATION: none}

A.A1:link { COLOR: #003366; TEXT-DECORATION: underline;}
A.A1:visited { COLOR: #003366; TEXT-DECORATION: underline}
A.A1:active  { COLOR: #3333ff; TEXT-DECORATION: underline}
A.A1:hover   { COLOR: #ff0000; TEXT-DECORATION: underline}

A.orgAdd:link, A.orgAdd:visited{
   color:#207BD6;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px 0px;
}
A.orgAdd:hover, A.orgAdd:active{
   color:#207BD6;
   text-decoration: underline;
}

A.orgClear:link, A.orgClear:visited{
   color:#9AA9B8;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px -60px;
   margin-left:5px;
}
A.orgClear:hover, A.orgClear:active{
   color:#207BD6;
   background-position:0px -40px;
   text-decoration: underline;
}

a.addfile {
   display:block;
   float:left;
   position:relative;
   color:#207BD6;
   text-decoration:none;
   padding-left:12px;
   background:url("org_select.png") no-repeat;
   background-position:0px 3px;
}
a.addfile:hover {
   color:#9AA9B8;
   text-decoration:underline;
   background-position:0px -17px;
}
input.addfile {
   cursor:pointer;
   left:-5px;
   opacity:0;
   filter:alpha(opacity=0);
   position:absolute;
   width:1px;
}
a.selfile:link, a.selfile:visited {
   color:#207BD6;
   text-decoration:none;
}
a.selfile:hover, a.selfile:active {
   color:#9AA9B8;
   text-decoration:underline;
}

img{border:0px;}
.bodycolor { BACKGROUND: #DDE4EA}
.loginbodycolor { BACKGROUND: #6BA2D8}
.topbar {font-size: 9pt;BACKGROUND: #C0D5F0;background-image:url("topbar.gif")}
.topbar2 {font-size: 9pt;BACKGROUND: #C4D9EF; background-image: url("menubg.gif")}
#Nav A {POSITION: relative; COLOR:#FFFFFF;}
#Nav A:hover { BACKGROUND-COLOR: #677CAD; COLOR:#FFFFFF; PADDING-LEFT: 0px; PADDING-RIGHT: 0px;  PADDING-TOP: 4px;  PADDING-BOTTOM: 4px; MARGIN: 0px;}

.panel{ BACKGROUND: #d1def0; COLOR:#FFFFFF;}
.timebar{ BACKGROUND: #C0C0C0;}
.statusbar{ background-image:url("statusbar.gif")}
.menu_tr1{ font-size: 9pt;COLOR:#000000;background-image:url("topbar.gif");cursor:pointer}
.menu_tr2{ font-size: 9pt;COLOR:#000000;BACKGROUND: #C1D7EE;cursor:pointer}

.small  { font-size: 9pt;}
.small1  { font-size: 9pt;COLOR: #45566B;}
.big { font-size: 12pt;}
.big1   { font-size: 12pt;COLOR: #45566B}
.big2   { font-size: 18pt}
.big3   { font-size: 12pt;COLOR: #45566B;FONT-WEIGHT: bold;}
.big4   { COLOR: #FF0000;}
.verybig{ font-size: 24pt}

.ArrowButtonL{width:20px;height:16px;background: url('/images/previouspage.gif') center center no-repeat;}
.ArrowButtonR{width:20px;height:16px;background: url('/images/nextpage.gif') center center no-repeat;}
.ArrowButtonLL{width:20px;height:16px;background: url('/images/prevpreviouspage.png') center center no-repeat;}
.ArrowButtonRR{width:20px;height:16px;background: url('/images/nextnextpage.png') center center no-repeat;}

input.SmallButton, input.ArrowButton{ BORDER-RIGHT: #104a7b 1px solid black; BORDER-TOP: #afc4d5 1px solid black; BORDER-LEFT: #afc4d5 1px solid black; BORDER-BOTTOM: #104a7b 1px solid;
background-image: url("button_back.gif"); CURSOR: hand; COLOR: #FFFFFF; HEIGHT: 22px; FONT-SIZE: 9pt; FONT-WEIGHT:bold; TEXT-DECORATION: none}

input.BigButton  { BORDER-RIGHT: #104a7b 1px solid black; BORDER-TOP: #afc4d5 1px solid black; BORDER-LEFT: #afc4d5 1px solid black; BORDER-BOTTOM: #104a7b 1px solid;
background-image: url("button_back.gif"); CURSOR: hand; COLOR: #FFFFFF; HEIGHT: 28px; FONT-SIZE: 11pt;FONT-WEIGHT:bold; TEXT-DECORATION: none}

input.SmallButtonAHover{width:50px;height:21px;color:#FFFFFF;background:url("btn_a.png") no-repeat;border:0px;cursor:pointer;background-position:0 -21px;}
input.SmallButtonA{width:50px;height:21px;color:#FFFFFF;background:url("btn_a.png") no-repeat;border:0px;cursor:pointer;}
input.SmallButtonA:hover{background-position:0 -21px;}

input.SmallButtonBHover{width:74px;height:21px;color:#FFFFFF;background:url("btn_b.png") no-repeat;border:0px;cursor:pointer;background-position:0 -21px;}
input.SmallButtonB{width:74px;height:21px;color:#FFFFFF;background:url("btn_b.png") no-repeat;border:0px;cursor:pointer;}
input.SmallButtonB:hover{background-position:0 -21px;}

input.SmallButtonCHover{width:105px;height:21px;color:#FFFFFF;background:url("btn_c.png") no-repeat;border:0px;cursor:pointer;background-position:0 -21px;}
input.SmallButtonC{width:105px;height:21px;color:#FFFFFF;background:url("btn_c.png") no-repeat;border:0px;cursor:pointer;}
input.SmallButtonC:hover{background-position:0 -21px;}

input.SmallButtonDHover{width:160px;height:21px;color:#FFFFFF;background:url("btn_d.png") no-repeat;border:0px;cursor:pointer;background-position:0 -21px;}
input.SmallButtonD{width:160px;height:21px;color:#FFFFFF;background:url("btn_d.png") no-repeat;border:0px;cursor:pointer;}
input.SmallButtonD:hover{background-position:0 -21px;}

input.SmallButtonEHover{width:245px;height:21px;color:#FFFFFF;background:url("btn_e.png") no-repeat;border:0px;cursor:pointer;background-position:0 -21px;}
input.SmallButtonE{width:245px;height:21px;color:#FFFFFF;background:url("btn_e.png") no-repeat;border:0px;cursor:pointer;}
input.SmallButtonE:hover{background-position:0 -21px;}

input.BigButtonAHover{width:60px;height:24px;color:#FFFFFF;background:url("big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;background-position:0 -24px;}
input.BigButtonA{width:60px;height:24px;color:#FFFFFF;background:url("big_btn_a.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;}
input.BigButtonA:hover{background-position:0 -24px;}

input.BigButtonBHover{width:84px;height:24px;color:#FFFFFF;background:url("big_btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;background-position:0 -24px;}
input.BigButtonB{width:84px;height:24px;color:#FFFFFF;background:url("big_btn_b.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;}
input.BigButtonB:hover{background-position:0 -24px;}

input.BigButtonCHover{width:125px;height:24px;color:#FFFFFF;background:url("big_btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;background-position:0 -24px;}
input.BigButtonC{width:125px;height:24px;color:#FFFFFF;background:url("big_btn_c.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;}
input.BigButtonC:hover{background-position:0 -24px;}

input.BigButtonDHover{width:195px;height:24px;color:#FFFFFF;background:url("big_btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;background-position:0 -24px;}
input.BigButtonD{width:195px;height:24px;color:#FFFFFF;background:url("big_btn_d.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;}
input.BigButtonD:hover{background-position:0 -24px;}

input.BigButtonEHover{width:305px;height:24px;color:#FFFFFF;background:url("big_btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;background-position:0 -24px;}
input.BigButtonE{width:305px;height:24px;color:#FFFFFF;background:url("big_btn_e.png") no-repeat;border:0px;cursor:pointer;font-size:12pt;}
input.BigButtonE:hover{background-position:0 -24px;}


input.SmallInput { COLOR: #000066; BACKGROUND: #F8F8F8; border:1 solid black; FONT-SIZE: 9pt;padding: 1px 5px;}
input.SmallInput1{ COLOR: #000066; BACKGROUND: #F8F8F8; border:1 solid black; BORDER-RIGHT:0; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}
input.BigInput   { COLOR: #000066; BACKGROUND: #F8F8F8; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
input.BigInputMoney{COLOR:#000066; BACKGROUND: #F8F8F8; text-align: RIGHT; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}

input.SmallStatic{ COLOR: #000066; BACKGROUND: #E0E0E0; border:1 solid black; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}
input.BigStatic  { COLOR: #000066; BACKGROUND: #E0E0E0; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}


select.BigSelect  { COLOR: #000066; BACKGROUND: #F8F8F8; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.SmallSelect{ COLOR: #000066; BACKGROUND: #F8F8F8; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}

select.BigStatic  { COLOR: #000066; BACKGROUND: #E0E0E0; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.SmallStatic{ COLOR: #000066; BACKGROUND: #E0E0E0; border:1 solid black; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}


textarea.BigInput { COLOR: #000066; BACKGROUND: #F8F8F8; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal;LINE-HEIGHT: normal;}
textarea.BigStatic{ COLOR: #000066; BACKGROUND: #E0E0E0; border:1 solid black; BORDER-BOTTOM:1px double; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal;LINE-HEIGHT: normal;}


.TableControl{ BACKGROUND: #CCD8E2}
.TableHeader { BACKGROUND: #D3E5FA; COLOR:#122A6B; font-weight:bold;FONT-SIZE: 10pt; background-image: url("headerbg.gif") }
.TableHeader1 { BACKGROUND: #D3E5FA; background-image: url("button_back.gif");  CURSOR: hand; COLOR: #000066;}
.TableHeader2 { BACKGROUND: #D3E5FA; background-image: url("menubg.gif");  CURSOR: hand; COLOR: #FFFFFF;FONT-WEIGHT: bold;}
.TableContent{ BACKGROUND: #E2E8FA;}
.TableData   { BACKGROUND: #FFFFFF;COLOR:#000000;}
.TableLine1  { BACKGROUND: #F3F3F3;}
.TableLine2  { BACKGROUND: #FFFFFF;}
.TableRed{background:#FFEBEB;}
.TextColor1  { COLOR: #FF6600;}
.TextColor2  { COLOR: #FF0000;}
.top{ COLOR: #FF0000;font-weight:bold;}

.percent { height: 12px; border: 1px solid #666666; float: left; padding: 0px;margin-top:3px;}
.percent div {height: 8px;font-size: 0px;margin: 1px;}
.percenttxt {float:left;font-size: 9pt;margin-top:1px;}
.s_on{background:url(/images/topmenubg2.gif);font-size: 9pt;}
.s_of{background:url(/images/topmenubg1.gif);font-size: 9pt;}
.m_on{background:url(/images/topmenubg2.gif);font-size: 9pt;}
.border14-1 {border: 1 solid #98BBD6;font-size: 14px;}/* 表格外框 */
.border14-2 {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #98BBD6;border-right-width: 1px;border-right-style: solid;border-right-color: #98BBD6;font-size: 14px;}/* 表格边框右面 */
.border14-3 {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #98BBD6;font-size: 14px;border-top-style: none;border-right-style: none;border-left-style: none;}/* 表格边框底面 */
.border14-4 {border-right-width: 1px;border-right-style: solid;border-right-color: #98BBD6;font-size: 14px;}/* 表格边框左面 */
.title_text {  font-size: 14px; font-weight: bold; color: #0A5FA2; }
.table_border {  border-color: #98BBD6 #98BBD6 black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.table_bg {  background-attachment: fixed; background-image: url(table_bg.gif); background-repeat: repeat; background-position: left; border-color: #98BBD6 #98BBD6 black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.table_left {  background-attachment: fixed; background-image: url(table_left.gif); background-repeat: no-repeat; background-position: left}

.attach_div{display:none;width:100px;border:1px #8FABC1 solid;position:absolute;padding:0px;z-index:10001;background:#FFFFFF;}
.attach_div a{display:block;line-height:20px;padding:3 0 0 10px;}
.attach_div a:hover{background:#DDE4EA;}


/*  列表型表格样式  */
.TableList{
   border:1px #8FABC1 solid;
   line-height:21px;
   font-size:9pt;
   border-collapse:collapse;
   padding:3px;
}
.TableList td{
   padding:3px;
   color:#476074;
}
.TableList .TableHeader td,
.TableList td.TableHeader{
   background:url("list_hd_bg.gif");
   border-bottom:1px #CCCCCC solid;
   border-right:1px #CCCCCC solid;
   font-weight:bold;
   text-align:center;
   color:#36434E;
   padding:0px;
}
.TableList .TableLine1 td,
.TableList td.TableLine1{
   background:#F8F8F8;
   border-top:1px #E4ECF3 solid;
}
.TableList .TableLine2 td,
.TableList td.TableLine2{
   background:#FFFFFF;
   border-top:1px #E4ECF3 solid;
}
.TableList .TableData td,
.TableList td.TableData{
   background:#FFFFFF;
   border-top:1px #E4ECF3 solid;
}
.TableList .TableContent td,
.TableList td.TableContent{
   background:#F0F0F0;
   border-top:1px #E4ECF3 solid;
}
.TableList .TableFooter td,
.TableList .TableControl td,
.TableList td.TableFooter,
.TableList td.TableControl{
   background: #CCD8E2;
   border:1px #E4ECF3 solid;
}
.TableList .TableRed td,
.TableList td.TableRed
{
   background:#FFEBEB;
}
.TableList .TextColor1 td,
.TableList td.TextColor1
{
   COLOR: #FF6600;
}
.TableList .TextColor2 td,
.TableList td.TextColor2
{
   COLOR: #FF0000;
}

/*  block型表格样式  */
.TableBlock{
   border:1px #8FABC1 solid;
   line-height:20px;
   font-size:9pt;
   border-collapse:collapse;
}
.TableBlock td{
   padding:3px;
   color:#000000;
}
.TableBlock .TableHeader td,
.TableBlock td.TableHeader{
   background:url("list_hd_bg.gif");
   border:1px #8FABC1 solid;
   font-weight:bold;
   color:#476074;
   line-height:23px;
   padding:0px;
}
.TableBlock .TableLine1 td,
.TableBlock td.TableLine1{
   background:#F8F8F8;
   border-top:1px #8FABC1 solid;
   border-right:1px #8FABC1 solid;
}
.TableBlock .TableLine2 td,
.TableBlock td.TableLine2{
   background:#FFFFFF;
   border-top:1px #8FABC1 solid;
   border-right:1px #8FABC1 solid;
}
.TableBlock .TableData td,
.TableBlock td.TableData{
   background:#FFFFFF;
   border-top:1px #8FABC1 solid;
   border-right:1px #8FABC1 solid;
}
.TableBlock .TableContent td,
.TableBlock td.TableContent{
   background:#F0F0F0;
   border-top:1px #8FABC1 solid;
   border-right:1px #8FABC1 solid;
}
.TableBlock .TableFooter td,
.TableBlock .TableControl td,
.TableBlock td.TableFooter,
.TableBlock td.TableControl{
   background: #CCD8E2;
   border:1px #8FABC1 solid;
}
.TableBlock .TableRed td,
.TableBlock td.TableRed
{
   background:#FFEBEB;
}

.Content{
   line-height:normal;
}

.TableControl a{
   color:#0066CC;
   text-decoration: none;
}

.TableBlock .TableRowHover td,
.TableBlock td.TableRowHover
{
   background:#DDE4EA;
}

.TableBlock .TableRowActive td,
.TableBlock td.TableRowActive
{
   background:#8FABC1;
   color:#FFFFFF;
}
/* 提示框样式 */
.MessageBox{
   height:90px;
   border:1px #8FABC1 dotted;
   background:#FFFFFF;
   margin-top:15px;
   margin-bottom:15px;
}
.MessageBox td.msg{
   padding:5px 20px 10px 90px;
   font-weight:bold;
}
.MessageBox td.msg h4.title{
   color:#36434E;
   font-size:18pt;
   border-bottom:1px #8FABC1 dotted;
   margin-bottom:10px;
}
.MessageBox td.msg div.content{
   color:#FF6633;
   border:none;
}
.MessageBox td.error{
   background:url("/images/icon64_error.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.info{
   background:url("/images/icon64_info.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.warning{
   background:url("/images/icon64_warning.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.forbidden{
   background:url("/images/icon64_forbidden.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.stop{
   background:url("/images/icon64_stop.png") no-repeat top left;
   background-position:10px 10px;
}
.MessageBox td.blank{
   height:40px;
   padding:10px 20px 10px 20px;
   text-align:center;
}

.hightlight{
   text-decoration: underline;
   background: #FFFF00;
   padding-left: 3px;
   padding-right: 3px;
}
.banned{
   color: #FF0000;
}
.mod{
   color: #000000;
}
.filter{
   color: #0000FF;
}
.pageArea{text-align:left;padding:5px;color:#45566B;width:320px;}
.pageArea img{cursor:pointer;}
.pageArea a{width:30px;height:16px;display:inline-block;}
.pageArea .pageFirst{background: url('/images/firstpage.gif') center center no-repeat;}
.pageArea .pagePrevious{background: url('/images/previouspage.gif') center center no-repeat;}
.pageArea .pageNext{background: url('/images/nextpage.gif') center center no-repeat;}
.pageArea .pageLast{background: url('/images/lastpage.gif') center center no-repeat;}
.pageArea .pageFirstDisable{background: url('/images/firstpage_disable.gif') center center no-repeat;}
.pageArea .pagePreviousDisable{background: url('/images/previouspage_disable.gif') center center no-repeat;}
.pageArea .pageNextDisable{background: url('/images/nextpage_disable.gif') center center no-repeat;}
.pageArea .pageLastDisable{background: url('/images/lastpage_disable.gif') center center no-repeat;}
.pageArea .pageGoto{background: url('/images/green_arrow.gif') center center no-repeat;width:17px;}
