@charset "utf-8";
@import url("reset.css");
@import url("icon.css");

/* Application */
ul,li {list-style:none}
a{color:#004486;font-size:12px; text-decoration:none}
a:hover { color:#CC0000}
a:focus{outline:none}
p,label{font-size:12px}
form{margin:0;padding:0;overflow:hidden}
button {border:none;padding:0;margin:0;font-size:0.8em;cursor:pointer}
body{ font-size:12px}
/* My Desktop */
#titbar{width:100%;height:30px;overflow:hidden;background:url('../images/bg/KD_BG.gif') repeat-x}
#titbar h2{float:left;font-size:14px;color:black;line-height:30px}
#tabbar {width:100%;height:26px;line-height:26px;font-size:12px;overflow:hidden;background:url('../images/bg/KD_BG.gif') repeat-x left -30px}
	#tabbar ul{float:left;margin:0;padding:0;width:auto;height:auto;overflow:hidden}
	#tabbar li {float:left;width:auto;_width:100px;height:26px;overflow:hidden}
	#tabbar a {display:block;height:24px;padding:0 8px 0 0;margin:2px 5px 0 5px}
	#tabbar a:hover, #tabbar a.on{border:1px #68BAFD solid;border-width:1px 1px 0 1px;margin:1px 4px 0 4px;background:url('../images/bg/KD_BG.png') repeat-x left -270px}
#main {width:100%;height:auto;line-height:20px;background:url('../images/bg/KD_BG_Main.png') repeat-x}
#leftpannel {float:left;width:196px; height:100%; border-right:1px solid #B8C9DD; background:#E8F5FF none repeat scroll 0 0}
#mainPannel{width:auto;height:auto; float:left}


/* Tree */
.userTree {font-size:12px; margin:10px; line-height:18px}
.userTree a {}
.userTree img { display:inherit;vertical-align:middle}
.userTree a.node, .userTree a.node:hover,
.userTree a.nodeSel,.userTree a.nodeSel:hover { padding:0 0 0 5px}


/* Search User */
#userSearch select{float:left}
#userNum { margin:0 5px; float:left; height:24px; line-height:24px}
#userNum span {padding:0 5px; color:#CC0000}
#userSearch input {width:100px;display:inline;margin-left:0px;min-width:90%;background:white url('../images/ico/ico_user_search.gif') no-repeat right 0}
#searchResult{display:none;  width:164px; height:auto;/*float:left*/; margin-left:2px}
#searchState{display:inline;  width:auto; height:auto;/*float:left;*/ margin-left:2px}

/* Select User */
.win table{margin:0;width:180px;height:250px; background-color:White}
.win table caption{background:white url('../images/bg/bgf1.gif') repeat-x left -651px;height:26px;line-height:26px;font-size:14px;font-weight:bold;}
.win table thead{height:24px;overflow:hidden;}
.win textarea{width:140px;height:200px;}
.win table tbody td{vertical-align:top;}
.win .usertree {width:180px; height:200px; overflow:auto}
#massage_box{position:absolute;width:200px;height:300px;filter:dropshadow(color=#666666,offx=3,offy=3,positive=2);z-index:2;visibility:hidden; top:50%;left:50%;margin:-150px auto auto -100px}
#mask{position:absolute;top:0;left:0;width:expression(body.scrollWidth);height:expression(body.scrollHeight);background:#666;filter:ALPHA(opacity=60);z-index:1;visibility:hidden;}
#massage_filed{position:absolute;width:200px;height:300px;filter:dropshadow(color=#666666,offx=3,offy=3,positive=2);z-index:2;visibility:hidden; top:50%;left:50%;margin:-150px auto auto -100px}
#mask2{position:absolute;top:0;left:0;width:expression(body.scrollWidth);height:expression(body.scrollHeight);background:#666;filter:ALPHA(opacity=60);z-index:1;visibility:hidden;}
/* ===== select user End ===== */
